body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-size: 25px;
  line-height: 35px;
}

.intro {
  background-color: rgb(241, 125, 125);
  height: 150px;
  text-align: center;
}

#title,
#lab {
  color: black;
  text-align: center;
}

#title {
  font-size: 2.6em;
  margin: 0px;
}
#lab {
  font-size: 3rem;
}
#img-div {
  width: 40%;
  float: left;
  margin-right: 50px;
}
#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  display: block;
}
#img-caption {
  margin-top: 3px;
}

.list {
  list-style: square;
  font-weight: 700;
}
.list2 {
  list-style: disc;
}

i {
  color: firebrick;
}

.foot {
  text-align: center;
  font-size: 1.3em;
  margin: 50px;
}

#tribute-link {
  color: firebrick;
}

@media only screen and (max-width: 1000px) {
  body{
    font-size: 14px;
  }
  .intro {
    height: 20%;
  }
  #title {
    font-size: 1.6em;
  }
  #lab {
    font-size: 2.4rem;
    margin-top: 10px;
    margin-bottom: 0;
  }
  #img-div {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 0;
  }
  .foot {
    font-size: 1em;
  }
}
